<div class="form-container">
  <h2>Add Merchant</h2>

  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required>
      </div>
      <div class="form-group">
        <label for="store_name">Store Name</label>
        <input type="text" id="store_name" name="store_name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="branch">Branch</label>
        <select id="branch" required>
          <option>Select Branch</option>
        </select>
      </div>
      <div class="form-group">
        <label for="governorate">Governorate</label>
        <select id="governorate" required>
          <option>Select Governorate</option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <select id="city" required>
          <option>Select City</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="pickup_cost">Special Pickup Cost</label>
        <input type="number" id="pickup_cost" name="pickup_cost" required>
      </div>
      <div class="form-group">
        <label for="merchant_percentage">Special Merchant Percentage (%)</label>
        <input type="number" id="merchant_percentage" name="merchant_percentage" required>
      </div>
    </div>

    <div class="form-group">
      <p class="text">Special price packages</p>
    </div>
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Governorate</th>
            <th>City</th>
            <th>Shipping Price</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterate over existing data -->
          <tr>
            <td>Governorate Name</td>
            <td>City Name</td>
            <td>Shipping Price</td>
            <td class="settings">
              <button type="button" class="setting">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <!-- Conditionally display the new package fields -->
          <tr>
            <td>
              <div class="form-group">
                <select class="form-control" required>
                  <option>
                    Select Governorate
                  </option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" required>
                  <option>
                    Select City
                  </option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" required>
              </div>
            </td>
            <td>
              <button type="button" class="setting2">
                <i class="bi bi-check-lg"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Button to add new row -->
    <div class="form-row add-button-container">
      <button type="button" class="add-new-btn">
        Add New <i class="bi bi-plus-lg"></i>
      </button>
    </div>

    <!-- Save button for the form -->
    <div class="form-row save-button-container mb-0">
      <button type="submit" class="save-btn">Save Merchant <i class="bi bi-check-lg"></i></button>
    </div>
  </form>
</div>