<div class="home-container">
    <div class="home-row">
      <div class="home-page">Home Page</div>
    </div>
    <div class="home-row">
      <div class="home-card">New<span class="badge">16</span></div>
      <div class="home-card">Pending <span class="badge">5</span></div>
      <div class="home-card">Delivered to Representative<span class="badge">23</span></div>
    </div>
    <div class="home-row">
      <div class="home-card">Delivered<span class="badge">17</span></div>
      <div class="home-card">Not Accessed<span class="badge">47</span></div>
      <div class="home-card">PostPoned<span class="badge">10</span></div>
    </div>
    <div class="home-row">
      <div class="home-card">Partially Delivered<span class="badge">98</span></div>
      <div class="home-card">Canceled by Recipient<span class="badge">2</span></div>
      <div class="home-card">Rejected but Paid<span class="badge">6</span></div>
    </div>
    <div class="home-row">
      <div class="home-card">Rejected with Partial Payment<span class="badge">14</span></div>
      <div class="home-card">Rejected and not Paid<span class="badge">12</span></div>
    </div>
</div>