<div class="form-container">
    <h2>Add City</h2>
    <form [formGroup]="cityForm" (ngSubmit)="addCity()">
      <div class="form-row">
        <div class="form-group">
            <label for="governorate">Governorate</label>
            <select type="number" id="governorate" formControlName="governorateId" name="governorate" required>
              <option value="0">select Governorate</option>
              <option value="1">select Governorate</option>
              <!-- <option *ngFor="let emp of employees" [value]="emp.id">{{emp.firstName}}</option> -->
              <!-- Add your governorates here -->
            </select>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Normal Shipping Cost</label>
          <input type="number" formControlName="normalShippingCost" id="normalShippingCost" name="normalShippingCost" required>
        </div>
        <div class="form-group">
            <label for="email">Pick-Up Shipping Cost</label>
            <input type="number" formControlName="pickupShippingCost" id="pickupShippingCost" name="pickupShippingCost" required>
          </div>
      </div>
      <div class="form-row save-button-container">
        <button type="submit" class="save-btn">Save</button>
      </div>
    </form>
  </div>