<div class="form-container">
  <h2>Edit Merchant</h2>

  <!-- Success and delete alerts -->
  <div *ngIf="successAlert" class="alert alert-success">
    Special Package added successfully!
  </div>
  <div *ngIf="deleteAlert" class="alert alert-danger">
    Special Package deleted!
  </div>

  <form [formGroup]="merchantForm" (ngSubmit)="onSubmit()">
    <!-- Merchant details form -->
    <div class="form-row">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" formControlName="userName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status" required>
          <option *ngFor="let status of statusOptions" [value]="status.value">{{ status.label }}</option>
        </select>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" formControlName="address" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" formControlName="phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="store_name">Store Name</label>
        <input type="text" id="store_name" name="store_name" formControlName="storeName" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="branch">Branch</label>
        <select id="branch" formControlName="branchName" required>
          <option *ngFor="let branch of branches" [value]="branch.name">{{ branch.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="governorate">Governorate</label>
        <select id="governorate" formControlName="governorateName" required>
          <option *ngFor="let governorate of governorates" [value]="governorate.name">{{ governorate.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <select id="city" formControlName="cityName" required>
          <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="pickup_cost">Special Pickup Cost</label>
        <input type="number" id="pickup_cost" name="pickup_cost" formControlName="specialPickupShippingCost" required>
      </div>
      <div class="form-group">
        <label for="merchant_percentage">Special Merchant Percentage (%)</label>
        <input type="number" id="merchant_percentage" name="merchant_percentage"
          formControlName="merchantPayingPercentageForRejectedOrders" required>
      </div>
    </div>
    <div class="form-group">
      <p class="text">Special price packages</p>
    </div>
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Governorate</th>
            <th>City</th>
            <th>Shipping Price</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let package of specialPackages; let i = index">
            <td>{{ package.governorateName }}</td>
            <td>{{ package.cityName }}</td>
            <td>{{ package.shippingPrice }}</td>
            <td class="settings">
              <button type="button" class="setting" (click)="deleteSpecialPackage(i)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <!-- Conditionally display the new package fields -->
          <tr *ngIf="addSpecialPackage" [formGroup]="newPackageForm">
            <td>
              <!-- Governorate dropdown -->
              <div class="form-group">
                <select class="form-control" formControlName="governorateId" required>
                  <option *ngFor="let governorate of governorates" [value]="governorate.id">{{ governorate.name }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <!-- City dropdown -->
              <div class="form-group">
                <select class="form-control" formControlName="cityId" required>
                  <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                </select>
              </div>
            </td>
            <td>
              <!-- Shipping price input -->
              <div class="form-group">
                <input type="number" class="form-control" formControlName="shippingPrice" required>
              </div>
            </td>
            <td>
              <!-- Save button -->
              <button type="button" class="setting2" (click)="saveSpecialPackage()">
                <i class="bi bi-check-lg"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Button to add new row -->
    <div class="form-row add-button-container">
      <button type="button" class="add-new-btn" [ngClass]="{'cancel-btn': addSpecialPackage}"
        (click)="toggleAddNewPackage()">
        {{ addSpecialPackage ? 'Cancel' : 'Add New' }} <i class="bi bi-plus-lg" *ngIf="!addSpecialPackage"></i><i
          class="bi bi-x-lg" *ngIf="addSpecialPackage"></i>
      </button>
    </div>

    <!-- Save button for the form -->
    <div class="form-row save-button-container mb-0">
      <button type="submit" class="save-btn">Save Merchant <i class="bi bi-check-lg"></i></button>
    </div>
  </form>
</div>