<div class="settings-container">
    <h2>Weight Settings</h2>
      <!-- <h5>Additional shipping cost settings for shipment weight</h5>  -->
    <div class="settings-form">
        <div class="form-group">
            <label>Traditional Cost from 0 KG To</label>
            <input type="number" class="weight-input" placeholder="Weight in KG" value="10">
            <span style="margin-left: 10px;">KG</span>
        </div>
        <div class="form-group">
            <label>Price per additional kg</label>
            <input type="number" class="price-input" placeholder="Price in EGP" value="100">
            <span style="margin-left: 10px;">EGP</span>
        </div>  
    </div>
        <div  class="form-row save-button-container">
            <button type="submit" class="save-btn">Save</button>
        </div>
</div>
