
<h1 class=" text-center my-5">Add Representative</h1>
<div class="row d-flex flex-row">
  <form [formGroup]="representative" class=" d-flex flex-row flex-wrap " >
    <div class="col-4 mb-3 p-2 d-flex flex-column">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="" id="name" aria-describedby="Name" formControlName="name">
      <label class="error"></label>

      <label for="branch" class="form-label mt-2">Branch</label>
      <select class="select form-select" aria-label="Default select example" formControlName="branch">
        <option selected>Select the branch</option>
        <option value="1">Shebin elkom</option>

      </select>
      <label class="error"></label>

      <label for="address" class="form-label mt-2">Address</label>
        <input type="text" class="" id="address" aria-describedby="address" formControlName="address">
        <label class="error"></label>

    </div>
    <div class="col-4 mb-3 p-2 d-flex flex-column">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
      <label class="error"></label>

      <label for="branch" class="form-label mt-2">Governorate</label>
      <div class="btn-group">
        <button class="btn select dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          Select the Governorate
        </button>
        <ul class="dropdown-menu  ps-2">
          <li>
            <input class="form-check-input me-1" name="governorate" type="checkbox" value="" id="flexCheckDefault" formControlName="governorate">
            <label class="form-check-label" for="flexCheckDefault">Menofia </label>
          </li>
          <li>
            <input class="form-check-input me-1" name="governorate" type="checkbox" value="" id="flexCheckDefault1" formControlName="governorate">
            <label class="form-check-label" for="flexCheckDefault">Cairo </label>
          </li>
        </ul>
      </div>
      <label class="error"></label>

      <label for="branch" class="form-label mt-2">Discount Type</label>
      <select class="select form-select p-1" aria-label="Default select example" formControlName="discountType">
        <option selected value="1">percentage</option>
        <option value="2">Shebin elkom</option>
      </select>
      <label class="error"></label>

    </div>

    <div class="col-4 mb-3 p-2 d-flex flex-column">
       <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="" id="exampleInputPassword1" formControlName="password">
        <label></label>

        <label for="phone" class="form-label mt-2">Phone</label>
        <input type="text" class="" id="phone" aria-describedby="Name" formControlName="phone">
        <label class="error"></label>

        <label for="percent" class="form-label mt-2">Company percentage Per order</label>
        <input type="text" class="" id="percent" aria-describedby="percent" formControlName="companyPercentage">
        <label class="error"></label>

    </div>
    <button (click)="onSubmit()" class="btn btn-primary ms-2">Submit</button>
  </form>
</div>
