<div class="table-container">
  <table class="product-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Branch</th>
        <th>Status</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <div class="name-role">
            <span class="name">Eslam Abuelyazeed</span>
          </div>
        </td>
        <td>Eslam&#64;gmail.com</td>
        <td><span>01022756323</span></td>
        <td>Cairo</td>
        <td><span class="badge active">Active</span></td>
        <td>
          <div class="settings">
            <a href="#" class="setting">
              <i class="bi bi-pencil"></i>
            </a>
          </div>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <div class="name-role">
            <span class="name">Ahmed Mahfouz</span>
          </div>
        </td>
        <td>Ahmed&#64;gmail.com</td>
        <td><span>01022756323</span></td>
        <td>Cairo</td>
        <td><span class="badge inactive">InActive</span></td>
        <td>
          <div class="settings">
            <a href="#" class="setting">
              <i class="bi bi-pencil"></i>
            </a>
          </div>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <div class="name-role">
            <span class="name">Deep Javiya</span>
          </div>
        </td>
        <td>abeer6530&#64;gmail.com</td>
        <td><span>01022756323</span></td>
        <td>Cairo</td>
        <td><span class="badge active">Active</span></td>
        <td>
          <div class="settings">
            <a href="#" class="setting">
              <i class="bi bi-pencil"></i>
            </a>
          </div>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <div class="name-role">
            <span class="name">Deep Javiya</span>
          </div>
        </td>
        <td>mahmoud55&#64;gmail.com</td>
        <td><span>01022756323</span></td>
        <td>Cairo</td>
        <td><span class="badge active">Active</span></td>
        <td>
          <div class="settings">
            <a href="#" class="setting">
              <i class="bi bi-pencil"></i>
            </a>
          </div>
      </tr>
    </tbody>
  </table>
</div>