<div class="form-container">
    <h2>Edit Role</h2>
    <form class="form" [formGroup]="form" (submit)="editRole()">
        <div class="form-row">
            <div class="form-group">
                <label for="name">Name</label>
                @if (form.controls['name']) {
                    <input type="text" id="name" name="name" formControlName="name">
                    @if (form.controls['name'].touched && getName.errors) {
                        <div id="name-validation" class="form-text text-danger">Governorate Name is Required and must have 4 or more characters</div>
                    }
                }
            </div>
            <!-- <div class="form-group">
                <label for="status">Status</label>
                <select class="form-select text-center" id="status" formControlName="status">
                    <option selected disabled value=-1>--Select the governorate status--</option>
                    @for (option of options; track $index) {
                        <option value="{{$index}}">{{ option }}</option>
                    }
                </select>                      
                @if (form.controls['status'].touched && getStatus.errors) {
                    <div id="status-validation" class="form-text text-danger">Governorate Status is Required</div>
                }
            </div> -->
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div> -->
        </div>
        <div class="form-row">
            <div class="table-container">
                <table class="product-table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Power</th>
                      <th>Add</th>
                      <th>Delete</th>
                      <th>Edit</th>
                      <th>Show</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of powers; let i = index" >
                      <td>{{ i + 1 }}</td>
                      <td>
                        <div class="name-role">
                          <span class="name">{{ getTableName(row.tableName) }}</span>
                        </div>
                      </td>
                      <td>
                        <div class="name-role">
                            <input class="form-check" type="checkbox" id="{{ getTableName(row.tableName) }}Create" name="{{ getTableName(row.tableName) }}Create" formControlName="{{ getTableName(row.tableName) }}Create">
                        </div>
                      </td>
                      <td>
                        <div class="name-role">
                            <input class="form-check" type="checkbox" id="{{ getTableName(row.tableName) }}Delete" name="{{ getTableName(row.tableName) }}Delete" formControlName="{{ getTableName(row.tableName) }}Delete">
                        </div>
                      </td>
                      <td>
                        <div class="name-role">
                            <input class="form-check" type="checkbox" id="{{ getTableName(row.tableName) }}Update" name="{{ getTableName(row.tableName) }}Update" formControlName="{{ getTableName(row.tableName) }}Update">
                        </div>
                      </td>
                      <td>
                        <div class="name-role">
                            <input class="form-check" type="checkbox" id="{{ getTableName(row.tableName) }}Read" name="{{ getTableName(row.tableName) }}Read" formControlName="{{ getTableName(row.tableName) }}Read">
                        </div>
                      </td>
                      <!-- <td>
                        <span class="badge"
                          [ngClass]="{'active': getStatusText(row.status) === 'Active', 'inactive': getStatusText(row.status) === 'Inactive'}">
                          {{ getStatusText(row.status) }}
                        </span>
                      </td>
                      <td class="settings">
                        <div class="pen-settings">
                          <a class="setting" [routerLink]="['/admin/governorate/edit', row.id]">
                            <i class="bi bi-pencil"></i>
                          </a>
                        </div>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      <!-- <div class="form-row">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" required>
        </div>
        <div class="form-group">
          <label for="branch">Branch</label>
          <input type="text" id="branch" name="branch" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="publisher_name">Store Name</label>
          <input type="text" id="publisher_name" name="publisher_name" required>
        </div>
        <div class="form-group">
          <label for="governorate">Governorate</label>
          <select id="governorate" name="governorate" required>
            <option value="" disabled selected>Select Governorate</option>
          </select>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <select id="city" name="city" required>
            <option value="" disabled selected>Select City</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="pickup_cost">Special Pickup Cost</label>
          <input type="number" id="pickup_cost" name="pickup_cost" required>
        </div>
        <div class="form-group">
          <label for="merchant_percentage">Special Merchant Percentage</label>
          <input type="number" id="merchant_percentage" name="merchant_percentage" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <p class="text">Add special price package <button type="button" class="add-new-btn">Add New
              <i class="bi bi-plus-lg"></i>
            </button></p>
        </div>
      </div>
      <div class="table-container">
        <table class="product-table">
          <thead>
            <tr>
              <th>Governorate</th>
              <th>City</th>
              <th>Shipping Price</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cairo</td>
              <td>Nasr City</td>
              <td>100 L.E</td>
              <td class="settings">
                <div class="trash-settings">
                  <a href="#" class="setting">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
        <div class="form-row save-button-container">
            <button type="submit" class="save-btn">Save <i class="bi bi-check-lg"></i></button>
        </div>
    </form>
</div>