<div class="form-container">
  <h2>Add Order</h2>
  <form [formGroup]="orderForm" *ngIf="orderForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="type">Type</label>
        <select id="type" formControlName="type" required>
          <option value="" disabled>Select Order Type</option>
          <option *ngFor="let type of orderTypes" [value]="type.key">{{ type.value }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Client name</label>
        <input type="text" id="name" formControlName="clientName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" formControlName="phone" required>
      </div>
      <div class="form-group">
        <label for="phone2">Phone 2</label>
        <input type="text" id="phone2" formControlName="phone2" required>
      </div>
      <div class="form-group">
        <label for="governorate">Governorate</label>
        <select id="governorate" formControlName="governorateId" required>
          <option value="" disabled>Select Governorate</option>
          <option *ngFor="let governorate of governorates" [value]="governorate.id">{{ governorate.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="city">City</label>
        <select id="city" formControlName="cityId" required>
          <option value="" disabled>Select City</option>
          <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="village">Village and Street</label>
        <input type="text" id="village" formControlName="villageAndStreet" required>
      </div>
      <div class="form-group">
        <label class="switch d-flex flex-column gap-3 align-items-center">Delivery to a village?
          <input type="checkbox" formControlName="shippingToVillage">
          <span class="slider"></span>
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="shipping">Shipping type</label>
        <select id="shipping" formControlName="shippingId" required>
          <option value="" disabled>Select Shipping Type</option>
          <option *ngFor="let shipping of shippings" [value]="shipping.id">{{ getShippingTypeText(shipping.shippingType)
            }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="payment">Payment type</label>
        <select id="payment" formControlName="paymentType" required>
          <option value="" disabled>Select Payment Type</option>
          <option *ngFor="let paymentType of paymentTypes" [value]="paymentType.key">{{ paymentType.value }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="branch">Branch</label>
        <select id="branch" formControlName="branchId" required>
          <option value="" disabled>Select Branch</option>
          <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
        </select>
      </div>
    </div>
    <!-- Add more fields and the rest of the form here -->

    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Weight (KG)</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody formArrayName="products">
          <ng-container *ngFor="let product of products.controls; let i = index">
            <tr [formGroupName]="i">
              <td><input formControlName="name" placeholder="Product Name" /></td>
              <td><input formControlName="weight" placeholder="Weight" /></td>
              <td><input formControlName="price" placeholder="Price" /></td>
              <td><input formControlName="quantity" placeholder="Quantity" /></td>
              <td class="d-flex justify-content-center align-items-center">
                <button class="d-flex justify-content-center" type="button" (click)="removeProduct(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <!-- Add button for adding new product rows -->
    <div class="form-group add-txt">
      <button type="button" (click)="toggleAddProduct()" [class.add-new-btn]="!addingProduct"
        [class.save-btn]="addingProduct">
        {{ addingProduct ? 'Save Product' : 'Add Product' }}
        <i *ngIf="addingProduct" class="bi bi-check-lg"></i>
        <i *ngIf="!addingProduct" class="bi bi-plus-lg"></i>
      </button>
    </div>

    <!-- Submit button for the form -->
    <button type="submit" class="save-btn" [disabled]="orderForm.invalid">Submit</button>
  </form>
</div>