<div class="table-container">
  <table class="product-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Client Data</th>
        <th>Governorate</th>
        <th>City</th>
        <th>orderMoneyReceived</th>
        <th>Status</th>
        <th>Settings</th>
        <th>Delete</th>
        <th>Print</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let representative of representatives; let i = index">
        <td>{{representative.id}}</td>
        <td>
          <div class="name-role">
            <span class="name">{{representative.userFullName}}</span>
          </div>
        </td>
        <!-- <td>{{representative.email}}</td> -->
        <td>{{getBranchName(representative.userBranchId)}}</td>
        <td>
          @for (item of getGovNames(representative.governorateIds); track $index) {
          <h6>{{item}}</h6>
          }
        </td>
        <td>{{representative.userPhoneNo}}</td>
        <!-- <td>{{representative.userAddress}}</td> -->
        <!-- <td>{{representative.discountType}}</td> -->
        <td>{{ (representative.discountType==0)? representative.companyPercentage:representative.companyPercentage+"%"}} </td>
        <td><span class="badge active">{{StatusName(representative.userStatus)}}</span></td>
        <td>
          <div class="settings">
            <a [href]="'/admin/representative/edit/'+representative.id" class="setting">
              <i class="bi bi-pencil"></i>
            </a>
            <a  class="setting" (click)="deleteRepresentative(representative.id)">
              <i class="bi bi-trash3 text-danger px-1"></i>
            </a>
          </div>
      </tr>
    </tbody>
  </table>
</div>
<a class="btn btn-success ms-5" [routerLink]="['/admin/representative/add']">Add Representative</a>
